<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <hr style="width:100%;border-color: dimgray;">
        <!-- section title -->
        <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
          <h2 class="mb-4">Nuestros Productos</h2>
          <p>Deliciosas Pizzas</p>
          </div>
        <!-- /section title -->
  
        <!-- Products tab & slick -->
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-4 col-sm-6" *ngFor="let p of producto">
              <div class="card my-2">
                <img src="http://localhost:8080/api/uploads/img/{{p.imagen}}" alt="{{p.imagen}}"height="200px" width="200px" class="card-img-top" >
                <div class="card-header">
                  <div class="card-title">
                    <p>{{p.nombre | titlecase}}</p>
                  </div>
                </div>
                <div class="card-body">
                  <h6>{{p.descripcion.substr(0, 40)}} ....</h6>
                  <p class="lead">&#83;&#47;&#46; {{p.precio }}</p>
                </div>
                
                <!--div para el boton de agregar al carrito-->
                <div>
                  <button type="button" class="button alt" (click)="agregaralcarrito(p)">Agregar a Carrito</button>
                </div>
                <!--div para el boton de agregar al carrito-->

                <div class="row d-flex justify-content-center border-primary my-3">
                  <div class="col-md-6 ">
  
                  </div>
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  
  </div>
<!--Seccion Ofertas-->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
  
        <!-- section title -->
        <hr style="width:100%;border-color: dimgray;">
        <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
          <h2 class="mb-4">Nuestras Ofertas</h2>
          
          </div>
        <!-- /section title -->
  
        <!-- Products tab & slick -->
        <div class="col-md-12">
          <div class="row">
            <!--le cambie de nombre al p por po en el ngIF-->
            <div class="col-md-4 col-sm-6" *ngFor="let po of productoOferta">
              <div class="card my-2">
                <img src="http://localhost:8080/api/uploads/img/{{po.producto.imagen}}" alt="{{po.producto.imagen}}"height="200px" width="200px" class="card-img-top" >
                <div class="card-header">
                  <div class="card-title">
                    <p>{{po.producto.nombre | titlecase}}</p>
                  </div>
                </div>
                <div class="card-body">
                  <h3>{{po.oferta.titulo.substr(0, 40)}} ....</h3>
                  <p class="lead">Descuento de &#83;&#47;&#46; {{po.descuento }}</p>
                </div>

                <!--div para el boton de agregar al carrito-->
                <div>
                  <button type="button" class="button alt" (click)="agregaralcarritoOferta(po)">Agregar a Carrito</button>
                </div>
                <!--div para el boton de agregar al carrito-->

                <div class="row d-flex justify-content-center border-primary my-3">
                  <div class="col-md-6 ">
  
                  </div>
                </div>
  
              </div>
  
            </div>
  
          </div>
  
        </div>
      </div>
    </div>
  
  </div>
