
<!--LISTA PEDIDOS ACTIVOS-->
<div class="card bg-light" *ngIf="listaPedidosSinRecepcion">
    <div class="card-header">Pedidos</div>
    <table class="table table-dark">
        <thead>
            <tr><h1 class="h4">Pedidos Actuales</h1></tr>
            <tr>
                <th>Codigo</th>
                <th>Direccion</th>
                <th>Fecha de Envio</th>
                <th>Costo Total</th>
                <th>Recibido</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of listaPedidosSinRecepcion">
                <th>{{p.codigo}}</th>
                <th>{{p.direccion}}</th>
                <th>{{p.fecha_pedido | date: 'dd/MM/yy HH:mm:ss'}}</th>
                <th>{{p.costo_total | number: '.2'}}</th>
                <th>
                    <a class="btn btn-danger" href="/listarPedido" (click)="actualizarFechaRecibido(p.codigo)">Recibido</a>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<!--LISTA PEDIDOS ANTIGUOS-->
<div class="card bg-light" *ngIf="listaPedidoAntiguo">
    <div class="card-header">Pedidos</div>
    <table class="table table-dark">
        <thead>
            <tr><h1 class="h4">Pedidos Antiguos</h1></tr>
            <tr>
                <th>Codigo</th>
                <th>Direccion</th>
                <th>Fecha de Envio</th>
                <th>Fecha de Recepcion</th>
                <th>Costo Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of listaPedidoAntiguo">
                <th>{{p.codigo}}</th>
                <th>{{p.direccion}}</th>
                <th>{{p.fecha_pedido | date: 'dd/MM/yy HH:mm:ss'}}</th>
                <th>{{p.fecha_recepcion | date: 'dd/MM/yy HH:mm:ss'}}</th>
                <th>{{p.costo_total | number: '.2'}}</th>
            </tr>
        </tbody>
    </table>
</div>
