
<!--Barra Superior-->


  
  
  <!--Seccion de productos ofertas-->
  <div class="container mt-5">
    <style>
      .card-body
      {
        border-bottom-left-radius: inherit !important;
        border-bottom-right-radius: inherit !important;
      }
    </style>
    <section class="dark-grey-text text-left">
      <h3 class="font-weight-bold mb-4 pb-2"> Nuestros Productos</h3>
  
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card-cascade wider card-ecommerce">
            <div class="view view-cascade overlay">
              <img src="https://images4.alphacoders.com/895/thumb-1920-895296.jpg" class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body card-body-cascade text-center pb-0">
              <h5 class="card-title">
                <strong>
                  <a href="#">Pizza Americana</a>
                </strong>
              </h5>
              <p class="card-text">Deliciosa Pizza :V</p>
              <div class="card-footer mt-4">
                <p class="float-left font-weight-bold mb-1 pb-2">32.50</p>
  
  
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card card-cascade wider card-ecommerce">
            <div class="view view-cascade overlay">
              <img src="https://images4.alphacoders.com/895/thumb-1920-895296.jpg" class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
  
            </div>
            <div class="card-body card-body-cascade text-center pb-0">
              <h5 class="card-title">
                <strong>
                  <a href="">Pizza Americana</a>
                </strong>
              </h5>
              <p class="card-text">Otra Pizza Deliciosa</p>
              <div class="card-footer mt-4">
                <p class="float-left font-weight-bold mb-1 pb-2">38.90</p>
                
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card card-cascade wider card-ecommerce">
            <div class="view view-cascade overlay">
              <img src="https://images4.alphacoders.com/895/thumb-1920-895296.jpg" class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
  
            </div>
            <div class="card-body card-body-cascade text-center pb-0">
              <h5 class="card-title">
                <strong>
                  <a href="">Pizza Americana</a>
                </strong>
              </h5>
              <p class="card-text">Esta es otra Pizza Deliciosa</p>
              <div class="card-footer mt-4">
                <p class="float-left font-weight-bold mb-1 pb-2">45.50</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
  
    </section>
    <Section class="dark-grey-text text-left">
      <h3 class="font-weight-bold mb-4 pb-2">Nuestras Ofertas</h3>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <div class="card card-cascade wider card-ecommerce">
            <div class="view view-cascade overlay">
              <img src="https://p4.wallpaperbetter.com/wallpaper/1017/647/742/food-pizza-cheese-tomatoes-olives-hd-wallpaper-preview.jpg" class="card-img-top" alt="sample photo">
              <a>
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
            <div class="card-body card-body-cascade text-center pb-0">
              <h5 class="card-title">
                <strong>
                  <a href="">Oferta Pizza Napolitana</a>
                </strong>
              </h5>
              <p class="card-text">Disponible hasta 25/06/2020</p>
              <div class="card-footer mt-4">
                <p class="float-left font-weight-bold mb-1 pb-2">12.20</p>
  
              </div>
            </div>
          </div>
        </div>
      </div>
  
    </Section>
    <a (click)="listarProducto()" class ="btn btn-primary active">listar Producto</a>
  </div>
  
  
 
  