
<!-- SECTION -->
<div class="section">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">

      <!-- section title -->
      <div class="col-md-12">
        <div class="section-title">
          <h3 class="font-weight-bold mb-4 pb-2"> Nuestras Ofertas</h3>
        </div>
      </div>
      <!-- /section title -->

      <!-- Products tab & slick -->
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-6" *ngFor="let p of productoOferta">
            <div class="card my-2">
              <img src="http://localhost:8080/api/uploads/img/{{p.producto.imagen}}" alt="{{p.producto.imagen}}"height="200px" width="200px" class="card-img-top" >
              <div class="card-header">
                <div class="card-title">
                  <p>{{p.oferta.titulo | titlecase}} {{p.producto.nombre | titlecase}}</p>
                </div>
              </div>
              <div class="card-body">
                <h3>{{p.oferta.descripcion.substr(0, 40)}} ....</h3>
                <h3>Desde el {{p.fecha_inicio}} hasta el {{p.fecha_fin}}</h3>
                <p class="lead">&#83;&#47;&#46; {{p.producto.precio}}</p>
                <p class="lead">Descuento de &#83;&#47;&#46; {{p.descuento }}</p>
              </div>
              
              <!--div para el boton de agregar al carrito-->
              <div>
                <button type="button" class="btn btn-primary" (click)="agregaralcarritoOferta(p)">Agregar a Carrito</button>
              </div>
              <!--div para el boton de agregar al carrito-->

              <div class="row d-flex justify-content-center border-primary my-3">
                <div class="col-md-6 ">

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</div>