<div class="col-md-12 heading-section text-center ">
    
    
</div>
<div clas="rev" >
    <blockquote >Historia
        <h3>Toto's Pizzeria</h3>
        <h4><i>Nos fundamos un 15 de octubre de 2019, con la finalidad de convertirnos en la mejor pizzeria de nuestra region. Nuestro chef especialista en pizzas hizo un extenso recorrido por la cuna de la pizza, Italia, alli el visito ciudades como milan, roma, napoles y venecia, adentrandose en las cocinas italianas, además de probar nuevos sabores. Nuestro objetivo aperturar nuevos locales a futuro y convertirnos en el punto de encuentro de familias y amistades.</i></h4>
    </blockquote>
    <hr style="width:100%;border-color: dimgray;">
</div>
<div clas="rev" >
    <blockquote >Nuestro Fundador
        <h3>Juan Gonzalez</h3>
        <h4><i>Nuestro fundador gran amigo de nuestro chef, amante de la pizza y del buen vino. Busca que todas las personas disfruten de la mejor pizza de la region y que impacte en ellos, dejando un bonito recuerdo.</i></h4>
    </blockquote>
    <hr style="width:100%;border-color: dimgray;">
</div>