<h1>proyecto</h1>
<nav>
  <!--
  
  <a routerLink="newPedidoProducto" class ="btn btn-primary active">crear Pedido-producto</a>
  -->
  <a routerLink="newcliente" class ="btn btn-primary active">Crear cliente</a>
  <a routerLink="newPedido" class ="btn btn-primary active">crear Pedido</a>
  <a routerLink="listarPedido" class ="btn btn-primary active">listar Pedido</a>
  <a routerLink="listarPedidoProducto" class ="btn btn-primary active">listar Pedido-producto</a>

  <a routerLink="listarProducto" class ="btn btn-primary active">listar Producto</a>
  <a routerLink="listarPromo" class ="btn btn-primary active">listar Promociones</a>
</nav>


<router-outlet></router-outlet>