<!--
<ng-template #contenido let-modal>
    <div class="modal-header">
        <h4 class="modal-title card-body text-center" >REGISTRO CLIENTE</h4>
        <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="save()" #ClienteForm="ngForm" >
            <div class="form-group">
                <input type="text" class="form-control" id="Fdni" [(ngModel)]="cliente.dni"
                        name="Fdni" required #Fdni="ngModel" placeholder="DNI"  minlength="8">
                <div class="alert alert-danger"
                        *ngIf="Fdni.invalid && (Fdni.dirty || Fdni.touched)">
                    <div *ngIf="Fdni.errors.required">
                            Descripcion es requerida.
                    </div>
                    <div *ngIf="Fdni.errors.minlength">
                        Minimo 8 digitos
                </div>
                </div>

            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="Fnombre" [(ngModel)]="cliente.nombre"
                        name="Fnombre" required #Fnombre="ngModel" placeholder="Nombre">
                <div class="alert alert-danger"
                        *ngIf="Fnombre.invalid && (Fnombre.dirty || Fnombre.touched)">
                    <div *ngIf="Fnombre.errors.required">
                            Descripcion es requerida.
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="Femail" [(ngModel)]="cliente.email"
                        name="Femail" required #Femail="ngModel" placeholder="Email">
                <div class="alert alert-danger"
                        *ngIf="Femail.invalid && (Femail.dirty || Femail.touched)">
                    <div *ngIf="Femail.errors.required">
                            Descripcion es requerida.
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="Fpasssword" [(ngModel)]="cliente.password"
                        name="Fpasssword" required #Fpasssword="ngModel" placeholder="Password">
                <div class="alert alert-danger"
                        *ngIf="Fpasssword.invalid && (Fpasssword.dirty || Fpasssword.touched)">
                    <div *ngIf="Fpasssword.errors.required">
                            Descripcion es requerida.
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="Ftelefono" [(ngModel)]="cliente.telefono"
                        name="Ftelefono" required #Ftelefono="ngModel" placeholder="Telefono">
                <div class="alert alert-danger"
                        *ngIf="Ftelefono.invalid && (Ftelefono.dirty || Ftelefono.touched)">
                    <div *ngIf="Ftelefono.errors.required">
                            Descripcion es requerida.
                    </div>
                </div>

            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success "
                [disabled]="!ClienteForm.form.valid">Registrar</button>
          </div>

        </form>
    </div>
    <div class="modal-footer">
        
        <button type="button" class="btn btn-success " (click)="modal.close()">Cancelar</button>
    </div>
</ng-template>


<button type="button" class="btn btn-success" (click)="OpenBackground(contenido)">Registrar Cliente fondo color</button>
<button (click)="closeMyModal(false)"> cerrar modal</button>-->
<!--
<div class=""></div>
<section id="registrer" class="mb-1">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 mx-auto">
                <div class="card_register">
                    <div class="card bg-dark text-white">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Registro</h1>
                        
                        <div class="card-body text-center">
                            <form (ngSubmit)="save()" #ClienteForm="ngForm" >
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Fdni" [(ngModel)]="cliente.dni"
                                            name="Fdni" required #Fdni="ngModel" placeholder="DNI"  minlength="8">
                                    <div class="alert alert-danger"
                                            *ngIf="Fdni.invalid && (Fdni.dirty || Fdni.touched)">
                                        <div *ngIf="Fdni.errors.required">
                                                Descripcion es requerida.
                                        </div>
                                        <div *ngIf="Fdni.errors.minlength">
                                            Minimo 8 digitos
                                    </div>
                                    </div>
                    
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Fnombre" [(ngModel)]="cliente.nombre"
                                            name="Fnombre" required #Fnombre="ngModel" placeholder="Nombre">
                                    <div class="alert alert-danger"
                                            *ngIf="Fnombre.invalid && (Fnombre.dirty || Fnombre.touched)">
                                        <div *ngIf="Fnombre.errors.required">
                                                Descripcion es requerida.
                                        </div>
                                    </div>
                    
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" id="Femail" [(ngModel)]="cliente.email"
                                            name="Femail" required #Femail="ngModel" placeholder="Email">
                                    <div class="alert alert-danger"
                                            *ngIf="Femail.invalid && (Femail.dirty || Femail.touched)">
                                        <div *ngIf="Femail.errors.required">
                                                Descripcion es requerida.
                                        </div>
                                    </div>
                    
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="Fpasssword" [(ngModel)]="cliente.password"
                                            name="Fpasssword" required #Fpasssword="ngModel" placeholder="Password">
                                    <div class="alert alert-danger"
                                            *ngIf="Fpasssword.invalid && (Fpasssword.dirty || Fpasssword.touched)">
                                        <div *ngIf="Fpasssword.errors.required">
                                                Descripcion es requerida.
                                        </div>
                                    </div>
                    
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" id="Ftelefono" [(ngModel)]="cliente.telefono"
                                            name="Ftelefono" required #Ftelefono="ngModel" placeholder="Telefono">
                                    <div class="alert alert-danger"
                                            *ngIf="Ftelefono.invalid && (Ftelefono.dirty || Ftelefono.touched)">
                                        <div *ngIf="Ftelefono.errors.required">
                                                Descripcion es requerida.
                                        </div>
                                    </div>
                    
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success"
                                          [disabled]="!ClienteForm.form.valid">Registrar</button>
                              </div>
                    
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button (click)="closeMyModal(false)"> cerrar modal</button>
</section>

-->

<div class=" body-contenido">
    
    <div class="modal-header">
        <h4 class="modal-title card-body text-center" >REGISTRO CLIENTE</h4>
        <button class="close" aria-label="close" type="button" (click)="closeMyModal(false)">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="save(ClienteForm)" #ClienteForm="ngForm" >
            
        <div class="form-group">
            <input type="text" class="form-control" id="Fusername" [(ngModel)]="cliente.username" name="Fusername" #Fusername="ngModel" placeholder="Username" required>

            <div class="alert alert-danger" *ngIf="Fusername.invalid && (Fusername.dirty || Fusername.touched)">
                <div *ngIf="Fusername.errors.required">
                    Username es requerida.
                </div>
            </div>
        </div>
            
        <div class="form-group">
            <input type="text" class="form-control" id="Fnombre" [(ngModel)]="cliente.nombre"
                    name="Fnombre" required #Fnombre="ngModel" placeholder="Nombre">

            <div class="alert alert-danger"
                    *ngIf="Fnombre.invalid && (Fnombre.dirty || Fnombre.touched)">
                <div *ngIf="Fnombre.errors.required">
                        Nombre es requerida.
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" id="Fapellido" [(ngModel)]="cliente.apellido" name="Fapellido" required #Fapellido="ngModel" placeholder="Apellido">

            <div class="alert alert-danger"
                    *ngIf="Fapellido.invalid && (Fapellido.dirty || Fapellido.touched)">
                <div *ngIf="Fapellido.errors.required">
                    Apellido es requerida.
                </div>
            </div>
        </div>

        <div class="form-group">
            <input input class="input-100" type="email" name="email" placeholder="example@gmail.com " maxlength="39" id="email" class="form-control" [(ngModel)]="cliente.email"
                     required email  #Femail="ngModel" >

            <div class="alert alert-danger"
                    *ngIf="Femail.invalid && (Femail.dirty || Femail.touched)">
                <div *ngIf="Femail.errors.required">
                        Email es requerida.
                </div>
                <div *ngIf="Femail.errors.email">
                    Email es invalido.
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="Fpasssword" [(ngModel)]="cliente.password" name="Fpasssword" required #Fpasssword="ngModel" placeholder="Password">
            
            <div class="alert alert-danger"
                    *ngIf="Fpasssword.invalid && (Fpasssword.dirty || Fpasssword.touched)">
                <div *ngIf="Fpasssword.errors.required">
                        Campo es requerida.
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" id="Fconfirmpassword" [(ngModel)]="confirmpassword" name="Fconfirmpassword" #Fconfirmpassword="ngModel" placeholder="Confirmar contraseña" required>
            
            <div class="alert alert-danger"
                    *ngIf="Fconfirmpassword.invalid && (Fconfirmpassword.dirty || Fconfirmpassword.touched)">
                <div *ngIf="Fconfirmpassword.errors.required">
                        Campo es requerida.
                </div>
                <div *ngIf="Fconfirmpassword.value != Fpasssword.value">
                    Compruebe que sea igual a la contraseña.
                </div>
            </div>
        </div>

        <div class="form-group card-body text-center">
            <button type="submit" class="btn btn-success "
            [disabled]="!ClienteForm.form.valid">Registrar</button>
        </div>    
        
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="closeMyModal(false)" class="btn btn-success ">Cancelar</button>
        
    </div>
</div>

