

<div class ="card border-dar mb-3" *ngIf="carrito != null && carrito.length > 0">
    <div>
        <table class ="table table-dark">
            <thead>
                <tr><h1>Productos</h1></tr>
                <tr>
                    <th>Producto</th>
                    <th>Precio Unitario</th>
                    <th>cantidad Pedida</th>
                    <th>Sub-Total</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pp of carrito; index as i">
                    <th>{{pp.producto.nombre}}</th>
                    <th>{{pp.producto.precio | number:'.2'}}</th>
                    
                    <th>
                        <input type="number" min="1" class="form-control" id ="Fcantidad" required [(ngModel)]="pp.cantidad_pedida" name="Fcantidad" #Fcantidad="ngModel" placeholder="Cantidad">
                        <button class="btn btn-danger" (click)="actualizarcantidad(i, Fcantidad.value)"> Actualizar cantidad</button>
                    </th>

                    <th>{{pp.precio | number:'.2'}}</th>
                    <th>
                        <button class="btn btn-danger" (click)="eliminarPedidoProductodelCarrito(i)">Eliminar</button>
                    </th>
                </tr>
            </tbody>
            <tfoot *ngIf="carritoOferta == null || carritoOferta.length == 0">
                <tr>
                    <th>Total: </th>
                    <!--No se como hacer q una columna ocupe n espacios, por lo que su lifehack respectivo-->
                    <th></th>
                    <th></th>
                    <th></th>
                    <!--OBS: BORRAR CUANDO SE SEPA (PREGUNTARLE AL PROFESOR)-->
                    <!--Para que el monto se muestre con dos decimales-->
                    <th>{{TotalCarrito | number:'.2'}}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div class ="card border-dar mb-3" *ngIf="carritoOferta != null && carritoOferta.length > 0">

    <table class ="table table-dark">
        <!--EMPIEZA ACA-->
        <thead>
            <tr><h1>Ofertas</h1></tr>
            <tr>
                <th>Oferta</th>
                <th>Producto</th>
                <th>Precio Unitario</th>
                <th>Descuento</th>
                <th>Sub-Total</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let po of carritoOferta; index as j">
                <th>{{po.oferta.titulo}}</th>
                <th>{{po.producto.nombre}}</th>
                <th>{{po.producto.precio | number:'.2'}}</th>

                <th>{{po.descuento | number:'.2'}}</th>
                <th>{{po.total | number:'.2'}}</th>
                <th>
                    <button class="btn btn-danger" (click)="eliminarProductoOfertadelCarrito(j)">Eliminar</button>
                </th>
            </tr>
        </tbody>
        <!--termina ACA-->

        <tfoot>
            <tr>
                <th>Total: </th>
                <!--No se como hacer q una columna ocupe n espacios, por lo que su lifehack respectivo-->
                <th></th>
                <th></th>
                <th></th>
                <!--OBS: BORRAR CUANDO SE SEPA (PREGUNTARLE AL PROFESOR)-->
                <!--Para que el monto se muestre con dos decimales-->
                <th>{{TotalCarrito | number:'.2'}}</th>
            </tr>
        </tfoot>
    </table>
</div>